<div class="container">
  <div class="row">
    <div class="col">
      <span>{{title}}</span>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Bootstrap working!.
        </ngb-alert>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <button type="button" class="btn btn-primary" (click)="setup()">test2</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="testMult()">testMult</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="testMemory()">test Memory</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="testModel1()">test Model 1</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="testTrainModel1()">training test Model 1</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="setupLinearRegretion()">Linear regretion</button>
        </li>
      </ul>
    </div>
  </div>
</div>
